:root {
  --lafleur-light: #efc7c7;
  --lafleur-dark: #8b3737;
  --lafleur-red: #b40000;
  --header-light-pink: #fee5e5;
  --neutral-dark: black;
  --bcg-light: #fbf5ee;
  --text: "Quicksand", "Helvetica";
  --headings: "Lancelot", "Helvetica";
  --text-size-mobile: 0.8rem;
  --text-size-desktop: 1.5rem;
  --heading-size-mobile: 2rem;
  --heading-size-desktop: 3rem;
}

body {
  font-family: var(--text);
  background-color: var(--bcg-light);
}

nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 15px rgba(163, 163, 163, 0.124);
  background-color: white;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav-links a {
  height: 50px;
  margin: 0 15px;
  display: grid;
  place-items: center;
  box-sizing: border-box;
  padding: 0 0px;
}

.nav-links li:hover a,
.nav-links li:hover,
.nav-links a:hover {
  color: white;
  text-decoration: none;
}

.nav-links li:hover {
  background-color: var(--lafleur-dark);
}

/* desktop version */
/* header */
.store-info {
  width: 100%;
  height: 2rem;
  background-color: var(--lafleur-dark);
  color: white;
  font-size: var(--text-size-mobile);
  display: grid;
  place-items: center;
  box-sizing: border-box;
}

.logo-desktop {
  width: 100svw;
  display: grid;
  place-items: center;
  background-color: var(--header-light-pink);
  padding: 35px 0;
}

.logo-desktop:hover {
  text-decoration: none;
}

.name-logo {
  color: var(--lafleur-red);
  font-family: var(--headings);
  font-size: 4rem;
}

.city {
  font-size: 1.2rem;
}

.nav-container {
  width: 1024px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.close,
#openBtn {
  display: none;
}

.logo-mobile {
  display: none;
}

.logo {
  width: 115px;
}

.city {
  line-height: 0.2rem;
  font-weight: bolder;
}

/* nav desktop */
nav .customer-links {
  display: flex;
}

.nav-links {
  display: flex;
  flex-direction: row;
}

.customer-links li {
  cursor: pointer;
  padding: 0 0.5rem;
}
/***************************************************************
/***************************************************************
/* MAIN */
/***************************************************************
/***************************************************************/

main {
  width: 1024px;
  margin: auto;
}

h2 {
  /*HEADINGS WITH WHITE BACKGROUND*/
  width: 100%;
  /* margin-bottom: 3rem; */
  margin: auto;
  margin-bottom: 3rem;
  padding: 0.7rem 0;
  font-family: var(--headings);
  font-size: 2.2rem;
  text-align: center;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.06);
}

/***************************************************************
/***************************************************************
/* US */
/***************************************************************
/***************************************************************/

.us {
  margin-top: 4rem;
}

.us h3 {
  font-family: var(--headings);
  font-size: 2rem;
  margin-bottom: 3.5rem;
}

.owners {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 25px;
  margin-bottom: 4rem;
}

.owners p {
  line-height: 1.6rem;
}

.owners img {
  max-width: 96%;
}

.owners p {
  line-height: 2rem;
}

.us .find-us {
  display: flex;
  justify-content: space-between;
  margin: 5rem 0 8rem 0;
}

.us .contact {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.us .contact div {
  line-height: 1.5rem;
}

.us .contact h5 {
  font-weight: bolder;
}

/***************************************************************
/***************************************************************
/* TERMS */
/***************************************************************
/***************************************************************/

.terms {
  display: grid;
}

.terms h4 {
  font-size: 1.5rem;
  margin: 1.5rem 0;
  color: var(--lafleur-dark);
}

.terms p {
  margin: 0.5rem 0;
}

/***************************************************************
/***************************************************************
/* HOME */
/***************************************************************
/***************************************************************/

.slider {
  width: 100%;
  height: 450px;
  margin-bottom: 80px;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.slide {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  display: none;
  box-sizing: border-box;
}

.slide.active {
  display: grid;
}

.slide img,
.slider .round,
.slider .controls {
  grid-area: 1 / 1 / 2 / 3;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.slide img {
  height: 450px;
  object-fit: cover;
}

.event-info {
  grid-area: 1 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-info a {
  width: fit-content;
  padding: 0.7rem 0.9rem .7rem .9rem;
  border: 1px solid white;
  background-color: white;
  color: var(--neutral-dark);
  font-family: var(--text);
  font-size: .8rem;
  text-transform: uppercase;
  z-index: 10;
}

.event-info h4 {
  font-weight: bolder;
  font-size: 1.3rem;
  line-height: 1.1;
  margin-bottom: 15px;
  color: white;
  text-transform: uppercase;
}

.event-info p {
  margin-bottom: 10px;
  color: white;
}

.slide .controls {
  display: flex;
  flex: column;
  justify-content: space-between;
  align-items: center;

  box-sizing: border-box;
  padding: 0 20px 0 20px;
  color: rgba(248, 248, 248, 0.681);
  font-size: 5rem;
}

.slider .round {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 10px;
}

.slider .round .circle {
  width: 17px;
  height: 17px;
  background-color: rgba(250, 249, 249);
  opacity: .45;
  border-radius: 100%;
  margin-bottom: 17px;
  z-index: 10;
}

.slider .round .circle.active {
  opacity: .8;
}


/* end of slider */

.events {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.events a .category {
  display: grid;
  grid-template-areas: "a";
  height: 190px;
  width: 190px;
  place-items: center;
  margin-bottom: 6rem;
}

.events a {
  text-decoration: none;
}

.events p {
  font-weight: bolder;
  font-size: 1.5rem;
  backdrop-filter: blur(5px);
}

.category .background,
.category p {
  grid-area: a;
}

.category .background {
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.6;
  z-index: -1;
}

.category.birth .background {
  background-image: url(assets/flower-birth.jpg);
}

.category.birthday .background {
  background-image: url(assets/ankit-choudhary-1ufb6oXdaYU-unsplash.jpg);
}
.category.grief .background {
  background-image: url(assets/anna-pavlin-UMH92TvHEz0-unsplash.jpg);
}
.category.feels .background {
  background-image: url(assets/bence-balla-schottner-ehGgVnHc-1Q-unsplash.jpg);
}

.category.thanks .background {
  background-image: url(assets/erol-ahmed-IHL-Jbawvvo-unsplash.jpg);
}

/***************************************************************
/***************************************************************
/* CONNECTION */
/***************************************************************
/***************************************************************/

div.log {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  margin: auto;
  padding: 2rem 4rem 2rem 4rem;
  width: 50%;
  background-color: white;
}

.log h3 {
  width: 80%;
  padding-top: 2rem;
  font-family: var(--headings);
  font-size: 2rem;
  text-align: left;
}

.log label {
  font-weight: 800;
  font-size: 1.2rem;
}

.log form {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  width: 80%;
  padding: 3rem 0 4rem 0;
}

.log form input[type="submit"] {
  background-color: black;
  color: white;
  width: 100%;
  height: 2.5rem;
  border: 2px black solid;
}

.log form label + input {
  width: 100%;
  height: 2.5rem;
  padding-left: 1rem;
  border-radius: 0;
  border: 1px solid black;
  box-sizing: border-box;
  font-family: var(--text);
  font-weight: bolder;
}
.log form label + input::placeholder {
  color: rgb(120, 119, 119);
}

.log form label + input:focus {
  outline: none;
  color: black;
}

/***************************************************************
/***************************************************************
/* ALL PRODUCTS */
/***************************************************************
/***************************************************************/
 /*  USER SELECT CHOICES SECTION*/
section.user-choices {
  background-color: white;
  margin-bottom: 4rem;
}

.user-choices .choices {
  width: 1024px;
  margin: auto;
}

.choices {
  display: flex;
}

div.color {
  width: 16px;
  height: 16px;
  border: solid rgba(0, 0, 0, 0.426) .5px;
}

.choices svg {
  width: 16px;
  height: 16px;
}

div.eachColor, div.eachCategory {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

div.eachColor label {
  display: flex;
  gap: 10px;
}


/* RESULT PRODUCTS */
main.products {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/***************************************************************
/***************************************************************
/* PRODUCT CARD */
/***************************************************************
/***************************************************************/

.card {
  background-color: white;
  width: 22%;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-size: 0.8rem;
}

.card a {
  text-decoration: none;
}

.card .product-image {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 4px 4px 0 0;
  background-image: url(assets/pink-roses.jpg);
}

.product-specs {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 1.5rem;
}

.card input {
  display: inline-flex;
  justify-content: center; /* centers the content horizontally */
  align-items: center;

  width: fit-content;
  height: 2rem;

  font-family: var(--text);
  background-color: black;
  color: white;
  margin: 0 1.5rem 1.5rem 1.5rem;
  padding: 0.5rem;
  border: 2px black solid;
  /* line-height: -2.5rem; */
}

.card input,
h5,
.product-price {
  font-weight: bolder;
}

/***************************************************************
/***************************************************************
/* FOOTER */
/***************************************************************
/***************************************************************/
footer {
  width: 100svw;
  display: grid;
  padding: 35px 15px;
  box-sizing: border-box;
  margin-top: 5rem;
}

footer .container {
  place-self: center;
  width: 1024px;
}

footer,
footer a {
  background-color: var(--lafleur-dark);
  color: var(--bcg-light);
  text-decoration: none;
}

.footer-logo {
  width: 10rem;
}

.recap {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
}

.store {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.store-contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.site-structure {
  display: flex;
  gap: 1rem;
}

footer a {
  width: fit-content;
}

footer h4 {
  font-weight: bolder;
  margin-bottom: 3px;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.credits {
  border-top: var(--bcg-light) 1px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
  margin-top: 5rem;
}

.socials img {
  height: 25px;
  padding-left: 5px;
}

@media (max-width: 1025px) {
  footer .container {
    width: auto;
  }
}

/* responsive mobiles */
@media (max-width: 480px) {
  .store-info {
    height: 1.5rem;
    font-size: 0.7rem;
  }
  /*burger menu*/
  .close,
  #openBtn {
    display: block;
  }
  /* Sidenav menu */
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -250px;
    background-color: var(--lafleur-light);
    padding-top: 60px;
    transition: left 0.5s ease;
  }

  /* Sidenav menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    font-size: 1rem;
    display: flex;
    align-items: center;
  }

  .sidenav a:hover {
    color: white;
  }

  .sidenav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .sidenav.active {
    left: 0;
  }

  .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }

  .burger-icon span {
    display: block;
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
    border-radius: 3px;
  }

  .logo-mobile {
    display: grid;
    place-items: center;
  }

  .name-logo.mobile {
    font-size: 2.4rem;
  }

  .city.mobile {
    font-size: 0.7rem;
  }

  .nav-container {
    display: flex;
    background-color: var(--header-light-pink);
    padding: 15px 15px;
  }

  .logo-desktop {
    display: none;
  }

  .nav-links {
    flex-direction: column;
  }

  .customer-links li {
    padding: 0;
  }

  .customer-links li:first-of-type {
    padding-right: 10px;
  }

  /* FOOTER */
  .store {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .recap {
    display: flex;
    flex-direction: column;
  }

  .site-structure {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .category {
    line-height: 0.5rem;
  }
}
